$border-radius: 5px;


#select-candidate{
    padding: 0 305px;

    .flex-wrap {
        color: white;
        display: flex;
        justify-content: space-between;
    }

    .card-wrapper {
        width: 1000px;
        margin: 15px auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        justify-content: center;
        
        .card{
            background-color: beige;
            height: 250px;
            width: 250px;
            border-radius: $border-radius;
            padding: 20px;
            cursor: pointer;
            transition: all 0.4s;
            align-items: center;

            .flex {
                align-items: center;
                gap: 30px;
                margin-bottom: 20px;
                display: flex;
                
                img {
                    width: 40%;
                }
                h2 {
                    border-left: 1px solid orange;
                    padding-left: 10px;
                }
            }

            .wrap-info{
                display: flex;  
                flex-direction: column;  
                align-items: center;  
                
                h4 {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
            &:hover {
                transform: scale(1.05);
            }
        }
    }

     .btn {
        display: block;
        margin-left: auto;
        padding: 5px 20px;
        background-color: orangered;
        border: none;
        color: white;
        border-radius: $border-radius;

        &:hover{
            background-color: rgb(245, 121, 38);
        }
     }
}

