#select-candidate{
    padding: 0 305px;
    .card-wrapper {
        width: 1000px;
        margin: 15px auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        justify-content: center;
    }

    .flex-wrap {
        color: white;
        display: flex;
        justify-content: space-between;
    }

     .btn {
        display: block;
      margin-left: auto;
     }
}