#candidate-card {
    background-color: beige;
    height: 250px;
    width: 250px;
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;

    .flex {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-bottom: 20px;
        img {
            width: 40%;
        }
        h2 {
            border-left: 1px solid orange;
            padding-left: 10px;
        }
    }

    .wrap-info{
        display: flex;
        flex-direction: column;  
        align-items: center;      
        
        h4 {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 10px;
        }
    }
    a{
        text-decoration: none;
        padding: 5px 25px;
        color: black;
        margin-top: 10px;
        background-color: #010168de;
        color: white;
        border-radius: 8px;

        &:hover{
            color: rgb(165, 164, 164);
        }
    }
}