$border-radius: 5px;

#select-company{
    display: flex;
    flex-direction: column;
    padding: 0 200px;
    align-items: center;
    justify-content: center;
    
    .flex-wrap {
        color: white;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;

        input{
            padding: 10px;
            border-radius: $border-radius;
            border: none;
            min-width: 500px;
            outline: none;
            border-radius: 8px;
        }
        
    }
    .company-wrapper{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        .company-card {
            background-color: white;
            height: 350px;
            width: 250px;
            border-radius: 8px;
            cursor: pointer;
            transition:  all .4s;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 14px;

            .green{
                background-color: #6ccebc;
                width: 100%;
                height: 30%;
                border-radius: 8px 8px 0 0;
                display: flex;
                align-items: center;
                position: relative;
            }

            img {
                width: 50%;
                padding: 10px;
                position: absolute;
                bottom: -55px;
                border-radius: 50%;
                left: 25%;
            }

            .company-info{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-top: 80px;

                h2{
                    padding: 10px;
                    text-align: center;
                }

                p{
                    margin-bottom: 10px;
                }
            }    
        }
    }
        
    .btn-wrap{
        display: flex;
        justify-content:space-between;
        margin-top: 25px;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 50px;

        .prev {
            padding: 10px 20px;
            border-radius: $border-radius;
            background-color: #6ccebc;
            border: none;
            color: white;
            transition: all .3s;
            cursor: pointer;
                &:hover{
                    background-color:#7ae9d4;
                }
        }

        .next{
            padding: 10px 20px;
            border-radius: $border-radius;
            background-color: white;
            border: none;
            color: black;
            transition: all .3s;
            &.active {background-color: #6ccebc;
                color: white;
                cursor: pointer;
                &:hover{
                    background-color:#7ae9d4;
                }
                }
        }
    }
}