$border-radius: 5px;

#select-company{
    padding: 0 305px;
    .flex-wrap {
        color: white;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;

        input{
            padding: 10px;
            border-radius: $border-radius;
            border: none;
        }
        
    }

    .company-wrapper{
        display: flex;

        .company-card {
            background-color: white;
            margin: 30px;
            border-radius: $border-radius;

            img {
                width: 200px;
                height: 200px;
                padding: 10px;
            }

            .company-info{
                text-align: center;

                h2{
                    padding: 10px;
                }

                h4{
                    margin-bottom: 10px;
                }
            }
        }
    }


    .btn-wrap{
        display: flex;
        justify-content: space-between;
        margin-top: 25px;

        button{
            padding: 8px;
            border-radius: $border-radius;
            background-color: orangered;
        }
    }
}