$border-radius: 5px;

#reports-page{  
    .main{
        padding: 50px 150px;

        .title {
            gap: 20px;
            background-color: rgb(4, 121, 255);
            margin: 10px 20px;
            padding: 10px;
            display: flex;
            align-items: center;
            border-radius: $border-radius;
            color: white;

            div{
                width: 25%;
            }
            .company{
                padding-left:10px;
            }
            .status{
                padding-left:16px;
            }
            .more{
                padding-left: 27px;
            }
        }
        
            .row {
                background-color: beige;
                margin: 10px 20px;
                padding: 10px;
                display: flex;
                justify-content: space-between;
                border-radius: $border-radius;
                align-items: center;

                div{
                    width: 40px;
                    text-align: left;
                }

        
                button{
                    background-color: orangered;
                    color: white;
                    border: none;
                    margin-left: 5px;
                    padding: 5px 10px;
                    border-radius: $border-radius;
        
                    &:hover{
                        background-color: rgb(245, 121, 38);
                    }
                }
            }
    }

    
}