#header {
    background-color:#6ccebc;
    color: white;
    padding: 8px 15px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;

    .ourLogo {
        width: 50px;
    }
    
    .navBar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
        font-size: 18px;

        a {
            color: white;
            text-decoration: none;
        }
    
        a:not(:last-child) {      
            border-right: 3px solid white;
            padding-right: 18px;
        }
    }
}

