$border-radius: 8px;
$beige-color: rgba(245, 245, 220, 0.904);
#home-page {
    .grid-wrapper {
        padding: 50px 150px;
        width: 1000px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        justify-content: center;
        align-items: center;
        
    }

    .search-bar{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        input{
            color: black;
            background-color:  $beige-color;
            min-width: 500px;
            padding: 10px 10px;
            outline: none;
            border: none;
            border-radius: $border-radius;
        }
}
}